html {
padding-top: 0px!important;
}

#wpadminbar{
position:fixed;
color:#333;
background:#DDD;
z-index:999;
width: 33px;
float: left;
display:inline-block;
min-width: inherit;
top:10px;
left: 10px;
overflow: hidden;
border-radius: 5px;
opacity: .5;
}
.toolbar-topRight #wpadminbar{
top:10px;
left: inherit;
right:10px;
bottom: inherit;
}
.toolbar-bottomRight #wpadminbar{
top:inherit;
left: inherit;
right:10px;
bottom: 10px;
}
.toolbar-bottomLeft #wpadminbar{
top:inherit;
right:10px;
right:inherit;
bottom: 10px;
}
#wpadminbar:hover{
width: inherit;
border-radius: 3px;
overflow: visible;
opacity: 1;
}

#wpadminbar .ab-top-secondary,
#wp-admin-bar-root-default {
float: left;
width: inherit;
}

#wp-toolbar{
position:relative;
float: left;
display:inline-block;
height:32px;
width: inherit;
}
.screen-reader-shortcut{
display:none;
}
#wpadminbar a{
color:#0074a2
}

#contextual-help-link-wrap{
margin-right:6px;
}

#adminmenu{
margin-top:0px;
}

#wpadminbar #media-upload a.del-link:hover,.subsubsub a.current:hover,.subsubsub a:hover,a:active,a:focus,a:hover,div.dashboard-widget-submit input:hover{
color:#0099d5
}

#wpadminbar input[type=checkbox]:checked:before{
color:#04a4cc
}

#wpadminbar input[type=radio]:checked:before{
background:#04a4cc
}

#wpadminbar .ab-item,#wpadminbar a.ab-item,#wpadminbar>#wp-toolbar span.ab-label,#wpadminbar>#wp-toolbar span.noticon{
color:#333
}

#wpadminbar .ab-icon,#wpadminbar .ab-icon:before,#wpadminbar .ab-item:after,#wpadminbar .ab-item:before{
color:#999
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item,#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar-nojs .ab-top-menu>li.menupop:hover>.ab-item,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus{
background:#fff
}

#wpadminbar>#wp-toolbar a:focus span.ab-label,#wpadminbar>#wp-toolbar li.hover span.ab-label,#wpadminbar>#wp-toolbar li:hover span.ab-label{
color:#04a4cc
}

#wpadminbar .menupop .ab-sub-wrapper{
background:#fff
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu{
background:#f6f7f7
}

#wpadminbar .ab-submenu .ab-item,#wpadminbar .quicklinks .menupop ul li a,#wpadminbar .quicklinks .menupop.hover ul li a,#wpadminbar-nojs .quicklinks .menupop:hover ul li a{
color:#686868
}

#wpadminbar .menupop .menupop>.ab-item:before,#wpadminbar .quicklinks li .blavatar{
color:#999
}

#wpadminbar .menupop .menupop>.ab-item:hover:before,#wpadminbar .quicklinks .menupop ul li a:focus,#wpadminbar .quicklinks .menupop ul li a:focus strong,#wpadminbar .quicklinks .menupop ul li a:hover,#wpadminbar .quicklinks .menupop ul li a:hover strong,#wpadminbar .quicklinks .menupop.hover ul li a:focus,#wpadminbar .quicklinks .menupop.hover ul li a:hover,#wpadminbar .quicklinks li a:hover .blavatar,#wpadminbar li .ab-item:focus:before,#wpadminbar li a:focus .ab-icon:before,#wpadminbar li.hover .ab-icon:before,#wpadminbar li.hover .ab-item:after,#wpadminbar li.hover .ab-item:before,#wpadminbar li:hover #adminbarsearch:before,#wpadminbar li:hover .ab-icon:before,#wpadminbar li:hover .ab-item:after,#wpadminbar li:hover .ab-item:before,#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover{
color:#04a4cc
}

#wpadminbar #adminbarsearch:before{
color:#999
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus{
color:#333;
background:#f7f7f7
}

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder{
color:#333;
opacity:.7
}

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder{
color:#333;
opacity:.7
}

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder{
color:#333;
opacity:.7
}

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder{
color:#333;
opacity:.7
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img{
border-color:#f7f7f7;
background-color:#f7f7f7
}

#wpadminbar #wp-admin-bar-user-info .display-name{
color:#333
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name{
color:#04a4cc
}

#wpadminbar #wp-admin-bar-user-info .username{
color:#686868
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a{
background:#fff
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item,#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar-nojs .ab-top-menu>li.menupop:hover>.ab-item,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default li:hover span.ab-label,#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary li.hover span.ab-label{
color:#333
}
