
@media screen and (min-width:782px){

	html {
	padding-top: 0px;
	}

	#wpadminbar {
	position:fixed;
	z-index:999999999999;
	width: 33px;
	height:32px;
	float: left;
	display:inline-block;
	min-width: inherit;
	top:10px;
	left: 10px;
	overflow: hidden;
	border-radius: 5px;
	opacity: 1;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	}

	#wpadminbar:hover{
	width: inherit;
	border-radius: 3px;
	overflow: visible;
	opacity: 1;
	}

	#wp-toolbar{
		position:relative;
		float: left;
		display:inline-block;
		width: inherit;
	}

	#wp-admin-bar-wp-logo{
		display: none;
	}

	/*
	*
	* MENU POSITION
	*
	*/
	.toolbar-topRight #wpadminbar{
	top:10px;
	left: inherit;
	right:10px;
	bottom: inherit;
	}
	.toolbar-bottomRight #wpadminbar{
	top:inherit;
	left: inherit;
	right:10px;
	bottom: 10px;
	}
	.toolbar-bottomLeft #wpadminbar{
	top:inherit;
	right:10px;
	right:inherit;
	bottom: 10px;
	}


	/*
	*
	* FORCE INLINE BAR
	*
	*/
	#wpadminbar .ab-top-secondary,
	#wp-admin-bar-root-default {
	float: left;
	width: inherit;
	}

	#wp-toolbar{
	position:relative;
	float: left;
	display:inline-block;
	width: inherit;
	}

	/*
	*
	* MENU VERTICAL
	*
	*/
	/*
	#wpadminbar {
	width: 34px;
	height:34px;
	}

	#wpadminbar:hover {
	width: 34px;
	height: inherit;
	}

	.ab-top-menu li{
		clear: left!important;
	}

	.ab-top-menu{
		clear: left!important;
	}

	.ab-top-menu > li > a,
	.ab-top-menu > li > a > span.ab-label {
		color:transparent!important;
	}

	.ab-top-menu {
		float: right!important;
		width: inherit;
		clear: right!important;
	}

	.ab-top-menu > li{
		float: right!important;
		width: inherit;
		clear: right!important;
		height: 38px;
	}

	#wp-admin-bar-top-secondary > li > a,
	#wp-admin-bar-root-default > li > a{
		width: 20px!important;
		height: 38px!important;
	}

	.ab-sub-wrapper{
		right:34px!important;
		top: 0px;
		margin: 0px!important;
		padding: 0px!important;
		box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.2)!important;
	}
	.ab-top-secondary .ab-sub-wrapper{
		top: inherit!important;
		bottom: 0px!important;
	}

	#wp-admin-bar-my-account img{
		position: absolute;
		top:14px;
		left:4px;
	}

	.toolbar-topLeft .ab-sub-wrapper{
		left:34px!important;
		top: 0px;
		margin: 0px!important;
		padding: 0px!important;
		box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.2)!important;
	}
	.toolbar-bottomLeft .ab-sub-wrapper{
		left:34px!important;
		top: 0px;
		margin: 0px!important;
		padding: 0px!important;
		box-shadow: -3px 1px 5px rgba(0, 0, 0, 0.2)!important;
	}
	*/

	/*
	 *
	 * FORCE MOBILE STYLE
	 *
	 */
	/*
	#wpadminbar{
	width: 50px;
	height:46px;
	}
	#wpadminbar *{
		font:400 14px/32px "Open Sans",sans-serif
	}

	#wpadminbar .quicklinks .ab-empty-item,#wpadminbar .quicklinks>ul>li>a{
		padding:0;
		height:46px;
		line-height:46px;
		width:auto
	}

	#wpadminbar .ab-icon{
		font:40px/1 dashicons!important;
		margin:0;
		width:52px;
		height:46px;
		text-align:center
	}

	#wpadminbar .ab-icon:before{
		text-align:center
	}

	#wpadminbar .ab-submenu{
		padding:0
	}

	#wpadminbar #wp-admin-bar-my-account a.ab-item,#wpadminbar #wp-admin-bar-my-sites a.ab-item,#wpadminbar #wp-admin-bar-site-name a.ab-item{
		text-overflow:clip
	}

	#wpadminbar .ab-label{
		display:none
	}

	#wpadminbar .menupop li.hover>.ab-sub-wrapper,#wpadminbar .menupop li:hover>.ab-sub-wrapper{
		margin-top:-46px
	}

	#wpadminbar .ab-top-menu .menupop .ab-sub-wrapper .menupop>.ab-item{
		padding-right:30px
	}

	#wpadminbar .menupop .menupop>.ab-item:before{
		top:10px;
		right:6px
	}

	#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper .ab-item{
		font-size:16px;
		padding:6px 15px 12px
	}

	#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper a:empty{
		display:none
	}

	#wpadminbar #wp-admin-bar-wp-logo>.ab-item{
		padding:0
	}

	#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon{
		padding:0;
		width:52px;
		height:46px;
		text-align:center;
		vertical-align:top
	}

	#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before{
		font:28px/1 dashicons!important;
		top:-3px
	}

	#wpadminbar #wp-admin-bar-edit>.ab-item,#wpadminbar #wp-admin-bar-my-account>.ab-item,#wpadminbar #wp-admin-bar-my-sites>.ab-item,#wpadminbar #wp-admin-bar-site-name>.ab-item{
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
		width:52px;
		padding:0;
		color:#999;
		position:relative
	}

	#wpadminbar .ab-icon,#wpadminbar .ab-item:before,#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon{
		padding:0;
		margin-right:0
	}

	#wpadminbar #wp-admin-bar-edit>.ab-item:before,#wpadminbar #wp-admin-bar-my-account>.ab-item:before,#wpadminbar #wp-admin-bar-my-sites>.ab-item:before,#wpadminbar #wp-admin-bar-site-name>.ab-item:before{
		display:block;
		text-indent:0;
		font:400 32px/1 dashicons;
		speak:none;
		top:7px;
		width:52px;
		text-align:center;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale
	}

	#wpadminbar #wp-admin-bar-appearance{
		margin-top:0
	}

	#wpadminbar #wp-admin-bar-search,#wpadminbar .quicklinks li .blavatar:before{
		display:none
	}

	#wpadminbar #wp-admin-bar-new-content .ab-icon:before{
		top:0;
		line-height:53px;
		height:46px!important;
		text-align:center;
		width:52px;
		display:block
	}

	#wpadminbar #wp-admin-bar-updates{
		text-align:center
	}

	#wpadminbar #wp-admin-bar-updates .ab-icon:before{
		top:3px
	}

	#wpadminbar #wp-admin-bar-comments .ab-icon{
		margin:0
	}

	#wpadminbar #wp-admin-bar-comments .ab-icon:before{
		display:block;
		font-size:34px;
		height:46px;
		line-height:47px;
		top:0
	}

	#wpadminbar #wp-admin-bar-my-account>a{
		position:relative;
		white-space:nowrap;
		text-indent:150%;
		width:28px;
		padding:0 10px;
		overflow:hidden
	}

	#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img{
		position:absolute;
		top:13px;
		right:10px;
		width:26px;
		height:26px
	}

	#wpadminbar #wp-admin-bar-user-actions.ab-submenu{
		padding:0
	}

	#wpadminbar #wp-admin-bar-user-actions.ab-submenu img.avatar{
		display:none
	}

	#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li{
		margin:0
	}

	#wpadminbar #wp-admin-bar-user-info .display-name{
		height:auto;
		font-size:16px;
		line-height:24px;
		color:#eee
	}

	#wpadminbar #wp-admin-bar-user-info a{
		padding-top:4px
	}

	#wpadminbar #wp-admin-bar-user-info .username{
		line-height:.8!important;
		margin-bottom:-2px
	}

	#wp-toolbar>ul>li{
		display:none
	}

	#wpadminbar li#wp-admin-bar-comments,#wpadminbar li#wp-admin-bar-edit,#wpadminbar li#wp-admin-bar-menu-toggle,#wpadminbar li#wp-admin-bar-my-account,#wpadminbar li#wp-admin-bar-my-sites,#wpadminbar li#wp-admin-bar-new-content,#wpadminbar li#wp-admin-bar-site-name,#wpadminbar li#wp-admin-bar-updates,#wpadminbar li#wp-admin-bar-wp-logo{
		display:block
	}

	#wpadminbar li.hover ul li,#wpadminbar li:hover ul li,#wpadminbar li:hover ul li:hover ul li{
		display:list-item
	}

	#wpadminbar ul#wp-admin-bar-root-default>li{
		margin-right:0
	}

	#wpadminbar #wp-admin-bar-comments,#wpadminbar #wp-admin-bar-edit,#wpadminbar #wp-admin-bar-my-account,#wpadminbar #wp-admin-bar-my-sites,#wpadminbar #wp-admin-bar-new-content,#wpadminbar #wp-admin-bar-site-name,#wpadminbar #wp-admin-bar-updates,#wpadminbar #wp-admin-bar-wp-logo,#wpadminbar .ab-top-menu,#wpadminbar .ab-top-secondary{
		position:static
	}

	#wpadminbar #wp-admin-bar-my-account{
		float:right
	}

	.network-admin #wpadminbar ul#wp-admin-bar-top-secondary>li#wp-admin-bar-my-account{
		margin-right:0
	}

	#wpadminbar .ab-top-secondary .menupop .menupop>.ab-item:before{
		top:10px;
		left:0
	}

	#wp-responsive-overlay{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:400
	}

	#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper{
		right: 0px;
	}

	#wpadminbar .menupop .menupop>.ab-item:before{
		display:none
	}

	#wpadminbar #wp-admin-bar-wp-logo.menupop .ab-sub-wrapper{
		margin-left:0
	}

	#wpadminbar .ab-top-menu>.menupop li>.ab-sub-wrapper{
		margin:0;
		width:100%;
		top:auto;
		left:auto
	}

	#wpadminbar .ab-top-menu>.menupop li>.ab-sub-wrapper .ab-item{
		font-size:16px;
		padding:6px 15px 19px 30px
	}

	#wpadminbar li:hover ul li ul li{
		display:list-item
	}

	#wpadminbar li#wp-admin-bar-updates,#wpadminbar li#wp-admin-bar-wp-logo{
		display:none
	}

	#wpadminbar .ab-top-menu>.menupop li>.ab-sub-wrapper{
		position:static;
		-webkit-box-shadow:none;
		box-shadow:none
	}
*/
}

/*
 *
 * FORCE LIGHT COLOR
 *
 */
#wpadminbar{
background:#F1F1F1;
}

#wpadminbar #media-upload a.del-link:hover,.subsubsub a.current:hover,.subsubsub a:hover,a:active,a:focus,a:hover,div.dashboard-widget-submit input:hover{
color:#0099d5
}

#wpadminbar input[type=checkbox]:checked:before{
color:#04a4cc
}

#wpadminbar input[type=radio]:checked:before{
background:#04a4cc
}

#wpadminbar .ab-item,#wpadminbar a.ab-item,#wpadminbar>#wp-toolbar span.ab-label,#wpadminbar>#wp-toolbar span.noticon{
color:#333
}

#wpadminbar .ab-icon,#wpadminbar .ab-icon:before,#wpadminbar .ab-item:after,#wpadminbar .ab-item:before{
color:#999
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item,#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar-nojs .ab-top-menu>li.menupop:hover>.ab-item,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus{
background:#fff;
}

#wpadminbar>#wp-toolbar a:focus span.ab-label,#wpadminbar>#wp-toolbar li.hover span.ab-label,#wpadminbar>#wp-toolbar li:hover span.ab-label{
color:#04a4cc
}

#wpadminbar .menupop .ab-sub-wrapper{
background:#fff
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu{
background:#f6f7f7
}

#wpadminbar .ab-submenu .ab-item,#wpadminbar .quicklinks .menupop ul li a,#wpadminbar .quicklinks .menupop.hover ul li a,#wpadminbar-nojs .quicklinks .menupop:hover ul li a{
color:#686868
}

#wpadminbar .menupop .menupop>.ab-item:before,#wpadminbar .quicklinks li .blavatar{
color:#999;
}

#wpadminbar .menupop .menupop>.ab-item:hover:before,#wpadminbar .quicklinks .menupop ul li a:focus,#wpadminbar .quicklinks .menupop ul li a:focus strong,#wpadminbar .quicklinks .menupop ul li a:hover,#wpadminbar .quicklinks .menupop ul li a:hover strong,#wpadminbar .quicklinks .menupop.hover ul li a:focus,#wpadminbar .quicklinks .menupop.hover ul li a:hover,#wpadminbar .quicklinks li a:hover .blavatar,#wpadminbar li .ab-item:focus:before,#wpadminbar li a:focus .ab-icon:before,#wpadminbar li.hover .ab-icon:before,#wpadminbar li.hover .ab-item:after,#wpadminbar li.hover .ab-item:before,#wpadminbar li:hover #adminbarsearch:before,#wpadminbar li:hover .ab-icon:before,#wpadminbar li:hover .ab-item:after,#wpadminbar li:hover .ab-item:before,#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover{
color:#04a4cc;
}

#wpadminbar #adminbarsearch:before{
color:#999;
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input:focus{
color:#333;
background:#f7f7f7
}

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder{
color:#333;
opacity:.7
}

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder{
color:#333;
opacity:.7
}

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder{
color:#333;
opacity:.7
}

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder{
color:#333;
opacity:.7
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img{
border-color:#f7f7f7;
background-color:#f7f7f7
}

#wpadminbar #wp-admin-bar-user-info .display-name{
color:#333
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name{
color:#04a4cc
}

#wpadminbar #wp-admin-bar-user-info .username{
color:#686868
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a{
background:#fff
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li.menupop.hover>.ab-item,#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar-nojs .ab-top-menu>li.menupop:hover>.ab-item,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default li:hover span.ab-label,#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary li.hover span.ab-label{
color:#333
}
